name: cedalion
channels:
  - conda-forge
dependencies:
  - click=8.1
  - h5py=3.11
  - ipython=8.13.2
  - ipywidgets=8.1.2
  - jupyter
  - jupyter_client=7.4.9
  - matplotlib=3.9
  - nibabel=5.2
  - nilearn=0.10
  - notebook=6.5.4
  - numpy=1.26
  - opencv
  - pandas=2.2
  - pint-xarray=0.3
  - pip
  - pooch=1.8
  - pre_commit
  - pybids=0.16
  - pytest
  - pytest-cov
  - python=3.11
  - pywavelets=1.6
  - ruff
  - scikit-image=0.24
  - scikit-learn=1.5
  - scipy=1.14
  - seaborn=0.13
  - statsmodels=0.14
  - strenum=0.4
  - xarray=2024.6
  - trimesh=4.4
  - pyvista=0.44
  - trame=3.6
  - trame-vtk=2.8
  - trame-vuetify=2.6
  - trame-components=2.3
  - vtk=9.2.6

  - nbsphinx
  - nbstripout
  - sphinx
  - myst-parser
  - sphinx-autodoc-typehints
  - sphinx_rtd_theme=2.0.0

  - pip:
      - mne==1.7
      - mne-bids==0.15
      - mne-nirs==0.6
      - pywavefront==1.3
      - setuptools-scm
      - snirf==0.8
      - pmcx==0.3.4
      - pmcxcl==0.2.0
      - sphinxcontrib-bibtex
