ul.xr-var-list li.xr-var-item div {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

ul.xr-var-list li.xr-var-item label {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
