ul.xr-var-list li.xr-var-item div {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

ul.xr-var-list li.xr-var-item label {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

/* Style for module/index links in sidebar below the search field. */
div.pkgnav {
    color: white;
    font-size: 1em;
    margin-top: 12px;
    text-align: center;
}

div.pkgnav ul {
    list-style: none;
}

div.pkgnav ul li {
    display: inline;
}

div.pkgnav ul li a {
    color: #f9f9f0;
    margin: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

div.pkgnav ul li a:hover {
    color: #f50404;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.genindextable td {
    display: table-row;
}